@model WeBStore.ViewModel.MovieFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Formheading</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movies.Name)
        @Html.TextBoxFor(m => m.Movies.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genres)
        @Html.DropDownListFor(m => m.Movies.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movies.NumberInStock)
        @Html.TextBoxFor(m => m.Movies.NumberInStock, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movies.ReleaseDate)
        @Html.TextBoxFor(m => m.Movies.ReleaseDate, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Movies.Id)
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}



