@model WeBStore.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<h3> @Model.Name </h3>
<li> @Model.Genre.Name</li>
<li>Date Released : @Model.ReleaseDate.ToLongDateString()</li>
<li>Date Added : @Model.DateAdded.ToLongDateString()</li>
<li>No In Stock: @Model.NumberInStock</li>
